/* background */
.bg-primary-color {
  background: #043873;
}

.bg-primary-color-light {
  background: #4f9cf9;
}

.bg-yellow-color {
  background: #ffe492;
}

/* text */
.text-white-color {
  color: #ffffff;
}

.text-black-color {
  color: #212529;
}

.text-yellow-color {
  color: #ffe492;
}

/* font size*/
.font-1 {
  font-size: 1em;
}

.font-2 {
  font-size: 1.125em;
}

.font-3 {
  font-size: 1.5em;
}

.font-4 {
  font-size: 3em;
}

.font-5 {
  font-size: 4em;
}

.font-6 {
  font-size: 4.5em;
}

@font-face {
  font-family: "Inter";
  src: url("/font_Inter/static/InterDisplay-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("/font_Inter/static/InterDisplay-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("/font_Inter/static/InterDisplay-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("/font_Inter/static/InterDisplay-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("/font_Inter/static/Inter-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  font-family: "Inter";
  font-weight: 400;
  box-sizing: border-box;
  color: #212529;
}

h1 {
  font-size: 4.5em;
  line-height: normal;
  font-weight: 700;
  letter-spacing: -0.02em;
  color: #212529;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  h1 {
    font-size: 2.25em;
  }
}
@media screen and (min-width: 768px) and (max-width: 1151px) {
  h1 {
    font-size: 3.375em;
  }
}
@media screen and (min-width: 1152px) and (max-width: 1439px) {
  h1 {
    font-size: 4em;
  }
}

p {
  font-size: 1.125em;
  line-height: 30px;
  font-weight: 400;
  letter-spacing: -0.02em;
  color: #212529;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

.container {
  max-width: 1490px;
  margin: 0 auto;
  display: grid;
}

button {
  cursor: pointer;
}

a i {
  color: #ffffff;
}

.button-primary {
  position: relative;
  padding: 20px 40px;
  background: #4f9cf9;
  color: #ffffff;
  border-radius: 8px;
  font-size: 1.125em;
  border: none;
  transition: 0.5s ease-in;
}
.button-primary:hover {
  background: #3169ad;
  transition: 0.5s ease-in;
}
.button-primary i {
  color: #ffffff;
  margin-left: 5px;
}

.dropdown {
  position: relative;
  display: inline-block;
  cursor: pointer;
}
.dropdown .dropdown-btn {
  display: flex;
  align-items: center;
  color: #ffffff;
  font-size: 1.125em;
  font-weight: 500;
}
.dropdown .dropdown-btn .bi {
  padding-left: 10px;
  color: #ffffff;
  font-size: 1.125em;
  font-weight: 500;
}
.dropdown .dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(6.6285714286, 92.8, 190.5714285714);
  min-width: 140px;
  border-radius: 5px;
  z-index: 1;
  box-shadow: 0px 8px 16px 0px rgba(255, 255, 255, 0.1);
}
.dropdown .dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-radius: 5px;
}
.dropdown .dropdown-content a:hover {
  background-color: rgb(96.6, 165.9, 249.6);
}
.dropdown:hover .dropdown-content {
  display: block;
}

.error-message {
  font-size: 1.125em;
  line-height: 30px;
  font-weight: 400;
  letter-spacing: -0.02em;
  color: #212529;
  color: red;
  font-size: 12px;
  margin-top: 4px;
  display: block;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .breakpoint-spacing {
    padding: 0 16px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1151px) {
  .breakpoint-spacing {
    padding: 0 20px;
  }
}
@media screen and (min-width: 1152px) and (max-width: 1439px) {
  .breakpoint-spacing {
    padding: 0 32px;
  }
}
@media screen and (min-width: 1440px) and (max-width: 1919px) {
  .breakpoint-spacing {
    padding: 0 32px;
  }
}
@media screen and (min-width: 1920px) {
  .breakpoint-spacing {
    padding: 0 220px;
  }
}
/* background */
.bg-primary-color {
  background: #043873;
}

.bg-primary-color-light {
  background: #4f9cf9;
}

.bg-yellow-color {
  background: #ffe492;
}

/* text */
.text-white-color {
  color: #ffffff;
}

.text-black-color {
  color: #212529;
}

.text-yellow-color {
  color: #ffe492;
}

/* font size*/
.font-1 {
  font-size: 1em;
}

.font-2 {
  font-size: 1.125em;
}

.font-3 {
  font-size: 1.5em;
}

.font-4 {
  font-size: 3em;
}

.font-5 {
  font-size: 4em;
}

.font-6 {
  font-size: 4.5em;
}

.fadeInDown {
  transform: translate3d(0, -20px, 0);
}

.fadeInUp {
  transform: translate3d(0, 20px, 0);
}

.fadeInRight {
  transform: translate3d(20px, 0, 0);
}

.fadeInLeft {
  transform: translate3d(-20px, 0, 0);
}

[data-anime] {
  opacity: 0;
}

.anime {
  opacity: 1;
  transform: none;
  transition: transform 0.8s, opacity 0.8s;
}

.container {
  padding: 16px 0;
  grid-template-columns: 1fr auto;
  align-items: center;
}
.container .logo img {
  max-width: 191px;
  max-height: 34px;
  transition: transform 0.3s ease;
}
.container .logo img:hover {
  transform: scale(1.1);
}
.container .navbar {
  display: flex;
  flex-wrap: wrap;
}
.container .navbar ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  align-items: center;
}
.container .navbar ul + ul {
  margin-left: 20px;
}
.container .navbar ul li + li {
  margin-left: 32px;
}
.container .navbar ul a {
  display: flex;
  align-items: center;
  color: #ffffff;
  font-size: 1.125em;
  font-weight: 500;
}
.container .navbar ul a i {
  padding-left: 10px;
}
.container .navbar ul .button-primary {
  padding: 16px 24px;
}
.container .navbar ul .button-primary.nav-btn-try:hover {
  background: #3169ad;
  transition: 0.5s ease-in;
}
.container .navbar ul .button-primary.nav-btn-try:hover .bi-arrow-right-short {
  visibility: hidden;
  transition: 0.1s ease-in;
}
.container .navbar ul .button-primary.nav-btn-try:hover .arrow-right-hover {
  display: block;
  transform: rotate(270deg);
}
.container .navbar ul .button-primary.nav-btn-try:hover .arrow-right-hover span {
  display: block;
  width: 1.2vw;
  height: 1.2vw;
  border-bottom: 4px solid white;
  border-right: 4px solid white;
  transform: rotate(45deg);
  margin: -10px;
  animation: animate 1.2s infinite;
}
.container .navbar ul .button-primary.nav-btn-try:hover .arrow-right-hover span:nth-child(2) {
  animation-delay: -0.1s;
}
.container .navbar ul .button-primary.nav-btn-try:hover .arrow-right-hover span:nth-child(3) {
  animation-delay: -0.2s;
}
@keyframes animate {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(20px, 20px);
  }
}
.container .navbar .nav_button {
  margin-left: 60px;
}
.container .navbar .nav_button .nav-login {
  padding: 16px 40px;
  background: #ffe492;
  color: #043873;
  border-radius: 8px;
  transition: 0.5s;
}
.container .navbar .nav_button .nav-login:hover {
  background-color: #c2a755;
  color: #ffffff;
}
.container .navbar .nav_button li:nth-child(3) {
  margin-left: 20px;
  display: none;
}
.container .navbar .nav_button li:nth-child(3) .menu-list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .navbar .nav_button li:nth-child(3) .menu-list i {
  margin-top: 5px;
  padding: 0;
}
.container #navMobile {
  display: none;
  padding: 15px 0;
}
.container #navMobile ul {
  display: grid;
  flex-direction: column;
  gap: 30px;
}
.container #navMobile ul li .dropdown-btn:hover {
  color: rgb(255, 233.4, 167.8);
}
.container #navMobile ul li .dropdown-btn:hover .icon {
  color: rgb(255, 233.4, 167.8);
}
.container #navMobile ul .icon {
  margin-right: 25px;
}

@media screen and (min-width: 1440px) and (max-width: 1919px) {
  .nav_button li:nth-child(3) {
    display: none;
  }
}
@media screen and (min-width: 1152px) and (max-width: 1439px) {
  .container .navbar ul:nth-child(1) {
    display: none;
  }
  .container .navbar .nav_button li:nth-child(3) {
    display: block;
  }
}
@media screen and (min-width: 768px) and (max-width: 1151px) {
  .container .navbar ul:nth-child(1) {
    display: none;
  }
  .container .navbar .nav_button li:nth-child(1),
  .container .navbar .nav_button li:nth-child(2) {
    display: none;
  }
  .container .navbar .nav_button li:nth-child(3) {
    display: block;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .container .navbar ul:nth-child(1) {
    display: none;
  }
  .container .navbar .nav_button {
    margin-left: 0;
  }
  .container .navbar .nav_button li:nth-child(1),
  .container .navbar .nav_button li:nth-child(2) {
    display: none;
  }
  .container .navbar .nav_button li:nth-child(3) {
    display: block;
  }
}
.hero {
  background-image: url("/img/detalhes1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 547px;
  background-position-y: bottom;
}
.hero .container {
  grid-template-columns: minmax(656px, 1fr) minmax(824px, 1fr);
  grid-template-rows: 549px;
  padding: 140px 0;
}
.hero .container .content {
  padding-right: 10px;
}
.hero .container .content h1 {
  margin-bottom: 24px;
  color: #ffffff;
}
.hero .container .content p {
  color: #ffffff;
  margin-bottom: 60px;
}
.hero .container .content button i {
  margin-left: 5px;
}

@media screen and (min-width: 1440px) and (max-width: 1919px) {
  .hero .container {
    grid-template-columns: minmax(361px, 1fr) minmax(685px, 1fr);
    grid-template-rows: 456px;
  }
}
@media screen and (min-width: 1152px) and (max-width: 1439px) {
  .hero .container {
    grid-template-columns: minmax(562px, 1fr) minmax(526px, 1fr);
    grid-template-rows: 361px;
  }
  .hero .container .content {
    padding-right: 90px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1151px) {
  .hero .container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
  }
  .hero .container .content {
    text-align: center;
  }
  .hero .container .content h1 {
    margin-bottom: 24px;
  }
  .hero .container .content p {
    margin-bottom: 60px;
  }
  .hero .container .content button {
    margin-bottom: 100px;
  }
  .hero .container figure img {
    padding: 0 88px;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .hero .container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    padding: 80px 0;
  }
  .hero .container .content button {
    margin-bottom: 100px;
  }
  .hero .container figure img {
    padding: 0;
  }
}
.management {
  padding-top: 140px;
  padding-bottom: 140px;
  background-image: url("/img/detalhes-project.png");
  background-repeat: no-repeat;
}
.management .container {
  grid-template-columns: 1fr;
  gap: 100px;
}
.management .container .content-item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
}
.management .container .content-item .content-project {
  display: grid;
  align-items: center;
  padding: 68px 0;
  gap: 60px;
}
.management .container .content-item .content-project .content-project-text {
  display: grid;
  gap: 24px;
}
.management .container .content-item .content-project .content-project-text h1 .span1::after {
  content: "Management";
  background-image: url("/img/text-element.png");
  background-repeat: no-repeat;
  background-size: 100% 30%;
  background-position: bottom;
  font-weight: 700;
  color: #212529;
}
.management .container .content-item .content-project a {
  display: inline-block;
  max-width: 205px;
  max-height: 63px;
}
.management .container .content-item:nth-child(2) {
  grid-template-areas: "image work";
}
.management .container .content-item:nth-child(2) .content-work {
  grid-area: work;
  margin-left: 100px;
  display: grid;
  align-items: center;
  padding: 183px 0;
  gap: 60px;
}
.management .container .content-item:nth-child(2) .content-work .content-project-text {
  display: grid;
  gap: 24px;
}
.management .container .content-item:nth-child(2) .content-work .content-project-text h1 .span2::after {
  content: "together";
  background-image: url("/img/text-element.png");
  background-repeat: no-repeat;
  background-size: 100% 30%;
  background-position: bottom;
  font-weight: 700;
  color: #212529;
}
.management .container .content-item:nth-child(2) .content-work a {
  display: inline-block;
  max-width: 205px;
}
.management .container .content-item:nth-child(2) figure {
  grid-area: image;
}

@media screen and (min-width: 1152px) and (max-width: 1439px) {
  .management .container .content-item .content-project {
    padding: 0 92px 0 0;
  }
  .management .container .content-item figure img {
    padding: 46px 0;
  }
  .management .container .content-item:nth-child(2) .content-work {
    margin-left: 33px;
    padding: 88px 0;
  }
}
@media screen and (max-width: 1151px) {
  .management {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .management .container .content-item {
    grid-template-columns: 1fr;
    justify-content: center;
    text-align: center;
  }
  .management .container .content-item .content-project {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .management .container .content-item .content-project br {
    display: none;
  }
  .management .container .content-item figure {
    display: flex;
    justify-content: center;
  }
  .management .container .content-item figure img {
    padding: 0;
  }
  .management .container .content-item:nth-child(2) {
    grid-template-areas: "work" "image";
    gap: 100px;
  }
  .management .container .content-item:nth-child(2) .content-work {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    padding: 0;
  }
}
@media screen and (max-width: 767px) {
  h1 {
    font-size: 42px !important;
  }
  br {
    display: block !important;
  }
}
.extension {
  padding-top: 140px;
  padding-bottom: 140px;
}
.extension .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.extension .container .content-extension {
  margin-right: 98px;
}
.extension .container .content-extension h1 {
  margin-bottom: 24px;
  color: #ffffff;
}
.extension .container .content-extension h1 .span1::after {
  content: "Extension";
  background-image: url("/img/text-element.png");
  background-repeat: no-repeat;
  background-size: 100% 30%;
  background-position: bottom;
  font-weight: 700;
  color: #ffffff;
}
.extension .container .content-extension p {
  margin-bottom: 60px;
  color: #ffffff;
}
.extension .container .content-extension button i {
  color: #ffffff;
}
.extension .container figure {
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 320px) and (max-width: 1152px) {
  .extension {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .extension .container {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .extension .container .content-extension {
    margin: 0;
    margin-bottom: 60px;
  }
  .extension .container figure img {
    padding: 0 105px;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .extension {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .extension .container figure img {
    padding: 0;
  }
}
.customise {
  padding-top: 140px;
  padding-bottom: 140px;
}
.customise .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.customise .container .content-customise h1 {
  margin-bottom: 24px;
}
.customise .container .content-customise h1 .span1::after {
  content: "your needs";
  background-image: url("/img/text-element.png");
  background-repeat: no-repeat;
  background-size: 100% 30%;
  background-position: bottom;
  font-weight: 700;
  color: #212529;
}
.customise .container .content-customise p {
  margin-bottom: 60px;
}
.customise .container .content-customise button i {
  color: #ffffff;
}
.customise .container figure {
  margin-right: 98px;
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 320px) and (max-width: 1151px) {
  .customise .container {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .customise .container figure {
    margin-right: 0;
    padding: 0 117px;
  }
  .customise .container figure img {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .customise .container figure {
    padding: 0;
  }
}
.plans {
  padding-top: 140px;
  padding-bottom: 140px;
}
.plans .container {
  grid-template-columns: 1fr;
}
.plans .container header {
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.plans .container header h1 {
  margin-bottom: 24px;
  text-align: center;
}
.plans .container header h1 .span::after {
  content: "Your Plan";
  background-image: url("/img/text-element.png");
  background-repeat: no-repeat;
  background-size: 100% 30%;
  background-position: bottom;
  font-weight: 700;
  color: #212529;
}
.plans .container header p {
  text-align: center;
}
.plans .container .swiper {
  width: 100%;
}
.plans .container .swiper .content-plans {
  display: flex;
  align-items: center;
}
.plans .container .swiper .content-plans .plan-free {
  padding: 40px 44px;
}
.plans .container .swiper .content-plans .plan-organization {
  padding: 40px 44px;
}
.plans .container .swiper .content-plans .plan-free,
.plans .container .swiper .content-plans .plan-organization,
.plans .container .swiper .content-plans .plan-personal {
  border-radius: 10px;
  border: 1px solid #ffe492;
}
.plans .container .swiper .content-plans .plan-free p,
.plans .container .swiper .content-plans .plan-organization p,
.plans .container .swiper .content-plans .plan-personal p {
  font-weight: 600;
  text-align: start;
  margin-bottom: 25px;
}
.plans .container .swiper .content-plans .plan-free p:nth-child(3),
.plans .container .swiper .content-plans .plan-organization p:nth-child(3),
.plans .container .swiper .content-plans .plan-personal p:nth-child(3) {
  font-size: 0.9em;
}
.plans .container .swiper .content-plans .plan-free .value,
.plans .container .swiper .content-plans .plan-organization .value,
.plans .container .swiper .content-plans .plan-personal .value {
  font-size: 2.25em;
  font-weight: 700;
  margin-bottom: 25px;
}
.plans .container .swiper .content-plans .plan-free ul,
.plans .container .swiper .content-plans .plan-organization ul,
.plans .container .swiper .content-plans .plan-personal ul {
  margin-bottom: 25px;
}
.plans .container .swiper .content-plans .plan-free ul li,
.plans .container .swiper .content-plans .plan-organization ul li,
.plans .container .swiper .content-plans .plan-personal ul li {
  display: flex;
  align-items: center;
  margin-bottom: 28px;
  font-weight: 500;
  line-height: 1.5;
}
.plans .container .swiper .content-plans .plan-free ul li::before,
.plans .container .swiper .content-plans .plan-organization ul li::before,
.plans .container .swiper .content-plans .plan-personal ul li::before {
  content: url("/img/icons/Ckeck.png");
  position: relative;
  bottom: -2.5px;
  margin-right: 22px;
}
.plans .container .swiper .content-plans .plan-free a,
.plans .container .swiper .content-plans .plan-organization a,
.plans .container .swiper .content-plans .plan-personal a {
  border-radius: 8px;
  border: 1px solid #ffe492;
  padding: 16px 40px;
}
.plans .container .swiper .content-plans .plan-free a.link-plan-personal,
.plans .container .swiper .content-plans .plan-organization a.link-plan-personal,
.plans .container .swiper .content-plans .plan-personal a.link-plan-personal {
  border: none;
  color: #ffffff;
}
.plans .container .swiper .content-plans .plan-personal {
  padding: 80px 44px;
}
.plans .container .swiper .content-plans .plan-personal p,
.plans .container .swiper .content-plans .plan-personal li {
  color: #ffffff;
}
.plans .container .swiper .content-plans .plan-personal p:nth-child(2) {
  color: #ffe492;
}
.plans .container .swiper .content-plans .plan-personal ul {
  margin-bottom: 35px;
}
.plans .container .swiper .content-plans .plan-personal ul li::before {
  content: url("/img/icons/check-yellow.png");
  margin-right: 22px;
}
.plans .container .swiper .slider-pagination-plans {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.work-everywhere {
  padding: 140px 0;
  background-image: url("/img/detalhes2.png");
  background-repeat: no-repeat;
  background-position-y: center;
}
.work-everywhere .container {
  grid-template-columns: 1fr;
  padding: 0;
  gap: 60px;
}
.work-everywhere .container .content {
  padding: 0 190px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.work-everywhere .container .content h1 {
  color: #ffffff;
}
.work-everywhere .container .content h1 .span::after {
  content: "your are";
  background-image: url("/img/text-element-blue.png");
  background-repeat: no-repeat;
  background-size: 100% 30%;
  background-position: bottom;
  font-weight: 700;
  color: #ffffff;
}
.work-everywhere .container .content p {
  color: #ffffff;
}
.work-everywhere .container .content br {
  display: none;
}
.work-everywhere .container a {
  justify-self: center;
  min-width: 200px;
  min-height: 63px;
}

@media screen and (min-width: 1440px) and (max-width: 1919px) {
  .work-everywhere {
    background-position-x: -270px;
  }
  .work-everywhere .container .content {
    padding: 0 156px;
  }
}
@media screen and (min-width: 1152px) and (max-width: 1439px) {
  .work-everywhere {
    background-image: none;
  }
  .work-everywhere .container {
    padding-left: 32px;
  }
  .work-everywhere .container .content {
    max-width: 650px;
    max-height: 421px;
    padding: 0;
  }
  .work-everywhere .container .content h1 {
    text-align: start;
  }
  .work-everywhere .container a {
    justify-self: start;
  }
}
@media screen and (min-width: 320px) and (max-width: 1151px) {
  .work-everywhere {
    background-image: none;
  }
  .work-everywhere .container {
    padding-left: 32px;
  }
  .work-everywhere .container .content {
    max-width: 604px;
    max-height: 393px;
    padding: 0;
  }
  .work-everywhere .container .content h1 {
    text-align: start;
  }
  .work-everywhere .container .content p {
    text-align: start;
  }
  .work-everywhere .container a {
    justify-self: start;
  }
}
.percent-data .container {
  padding: 140px 0;
  grid-template-columns: 1fr 1fr;
}
.percent-data .container .content .text {
  display: grid;
  gap: 24px;
  margin-bottom: 60px;
}
.percent-data .container .content .text h1 .span::after {
  content: "your data";
  background-image: url("/img/text-element.png");
  background-repeat: no-repeat;
  background-size: 100% 30%;
  background-position: bottom;
  font-weight: 700;
  color: #212529;
}
.percent-data .container .content .action {
  width: 100%;
}
.percent-data .container figure {
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 320px) and (max-width: 1151px) {
  .percent-data .container {
    grid-template-columns: 1fr;
    gap: 100px;
  }
  .percent-data .container .content {
    grid-row: 2;
  }
  .percent-data .container .content .text {
    text-align: center;
  }
  .percent-data .container .content .action {
    display: flex;
    justify-content: center;
  }
  .percent-data .container figure {
    grid-row: 1;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .percent-data .container {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}
.sponsors {
  padding-top: 140px;
  padding-bottom: 140px;
}
.sponsors .container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 100px;
}
.sponsors .container h1 {
  text-align: center;
}
.sponsors .container h1 .span::after {
  content: "sponsors";
  background-image: url("/img/text-element.png");
  background-repeat: no-repeat;
  background-size: 100% 30%;
  background-position: bottom;
  font-weight: 700;
  color: #212529;
}
.sponsors .container figure {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media screen and (min-width: 320px) and (max-width: 1151px) {
  .sponsors .container figure {
    flex-direction: column;
    gap: 100px;
  }
  .sponsors .container figure img {
    align-self: center;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .sponsors {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}
.favorite-apps {
  padding-top: 140px;
  padding-bottom: 140px;
}
.favorite-apps .container {
  grid-template-columns: minmax(582px, 1fr) minmax(798px, 1fr);
  gap: 100px;
}
.favorite-apps .container .content {
  display: grid;
  gap: 60px;
}
.favorite-apps .container .content .text h1 {
  margin-bottom: 24px;
}

@media screen and (min-width: 1152px) and (max-width: 1919px) {
  .favorite-apps .container {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 320px) and (max-width: 1151px) {
  .favorite-apps .container {
    grid-template-columns: 1fr;
  }
  .favorite-apps .container figure {
    display: flex;
    justify-content: center;
  }
  .favorite-apps .container .content .text {
    text-align: center;
  }
  .favorite-apps .container .content .btn-action {
    display: flex;
    justify-content: center;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .favorite-apps {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}
.testimonials {
  padding-top: 140px;
  padding-bottom: 140px;
  min-height: 994px;
}
.testimonials h1 {
  text-align: center;
  margin-bottom: 60px;
}
.testimonials h1 .span::after {
  content: "Says";
  background-image: url("/img/text-element.png");
  background-repeat: no-repeat;
  background-size: 100% 30%;
  background-position: bottom;
  font-weight: 700;
  color: #212529;
}
.testimonials .container {
  grid-template-columns: 1fr;
  gap: 60px;
}
.testimonials .container .cards .card-item {
  display: grid;
  padding: 60px 40px;
  gap: 60px;
  border-radius: 10px;
  box-shadow: 15px 10px 50px rgba(0, 0, 0, 0.1);
}
.testimonials .container .cards .card-item .testimonial {
  display: grid;
  gap: 32px;
  border-bottom: 1px solid #ffffff;
  padding-bottom: 40px;
}
.testimonials .container .cards .card-item .testimonial .testimonial-quote {
  width: 86px;
  height: 62px;
  background-image: url("/img/icons/quote-white.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.testimonials .container .cards .card-item .customer-data {
  display: grid;
  grid-template-columns: 1fr 246px;
  gap: 42px;
}
.testimonials .container .cards .card-item .customer-data img {
  max-width: 95px;
  max-height: 95px;
}
.testimonials .container .cards .card-item .customer-data .content-customer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.testimonials .container .cards .card-item .customer-data .content-customer h2 {
  font-size: 1.5em;
  font-weight: 600;
  margin-bottom: 15px;
}
.testimonials .container .cards .card-item:hover {
  background: #ffffff;
  transition: background 0.3s ease-in-out;
}
.testimonials .container .cards .card-item:hover .testimonial {
  border-bottom: 1px solid #212529;
  transition: border-bottom 0.3s ease-in-out;
}
.testimonials .container .cards .card-item:hover .testimonial .testimonial-quote {
  background-image: url("/img/icons/quote-black.png");
}
.testimonials .container .cards .card-item:hover .testimonial p {
  color: #212529;
  transition: color 0.3s ease-in-out;
}
.testimonials .container .cards .card-item:hover .customer-data .content-customer p {
  color: #212529;
  transition: color 0.3s ease-in-out;
}
.testimonials .container .slider-pagination {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}
.testimonials .container .slider-pagination .swiper-pagination-bullet {
  background-color: #4f9cf9;
}
.testimonials .container .slider-pagination .swiper-pagination-bullet-active {
  background-color: #043873;
}

@media screen and (min-width: 320px) and (max-width: 1151px) {
  .testimonials .container .cards .card-item {
    padding: 20px;
  }
  .testimonials .container .cards .card-item .customer-data {
    grid-template-columns: 1fr;
  }
}
@media screen and (min-width: 1152px) and (max-width: 1919px) {
  .testimonials .container .cards .card-item {
    padding: 60px 24px;
  }
  .testimonials .container .cards .card-item .customer-data {
    grid-template-columns: 1fr minmax(174px, 1fr);
    gap: 24px;
  }
}
@media screen and (min-width: 1440px) and (max-width: 1919px) {
  .testimonials .container .cards .card-item .customer-data {
    grid-template-columns: 1fr minmax(246px, 1fr);
  }
}
.try-today {
  padding-top: 140px;
  padding-bottom: 32px;
  display: grid;
  justify-content: center;
}
.try-today .container {
  grid-template-columns: 1fr;
  justify-content: center;
  gap: 50px;
  max-width: 608px;
}
.try-today .container .header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 24px;
}
.try-today .container .header h1 {
  text-align: center;
}
.try-today .container .header p {
  text-align: center;
}
.try-today .container .btn-action {
  justify-self: center;
}
.try-today .container > p {
  text-align: center;
}
.try-today .container figure {
  justify-self: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  max-width: 260px;
  max-height: 60px;
}

@media screen and (min-width: 768px) and (max-width: 1151px) {
  .try-today {
    justify-content: start;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .try-today {
    padding-top: 100px;
  }
  .try-today .container {
    justify-content: start;
    gap: 50px;
    margin-right: 50px;
  }
  .try-today .container .header .h1 {
    text-align: start;
  }
  .try-today .container .header p {
    text-align: start;
  }
  .try-today .container .btn-action {
    justify-self: start;
  }
  .try-today .container .btn-action a {
    padding: 20px 30px;
  }
  .try-today .container > p {
    text-align: start;
  }
  .try-today .container figure {
    justify-self: start;
  }
}
.footer {
  padding-top: 140px;
  padding-bottom: 32px;
  position: relative;
}
.footer .container {
  grid-template-columns: 1fr;
  gap: 100px;
}
.footer .container .footer-main-links {
  display: grid;
  grid-template-columns: minmax(240px, 1fr) 1fr 1fr 1fr minmax(259px, 1fr);
  gap: 100px;
  max-width: 1480px;
}
.footer .container .footer-main-links .about figure {
  margin-bottom: 15px;
}
.footer .container .footer-main-links .about figure img {
  max-width: 191px;
  max-height: 34px;
}
.footer .container .footer-main-links .about p {
  font-weight: 400;
  font-size: 1em;
  color: #f7f7ee;
}
.footer .container .footer-main-links .about p br {
  display: none;
}
.footer .container .footer-main-links .product p,
.footer .container .footer-main-links .resources p,
.footer .container .footer-main-links .company p {
  margin-bottom: 15px;
}
.footer .container .footer-main-links .product p:nth-child(1),
.footer .container .footer-main-links .resources p:nth-child(1),
.footer .container .footer-main-links .company p:nth-child(1) {
  font-weight: bold;
}
.footer .container .footer-main-links .product ul,
.footer .container .footer-main-links .resources ul,
.footer .container .footer-main-links .company ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.footer .container .footer-main-links .try-it-today {
  display: flex;
  flex-direction: column;
  gap: 23px;
}
.footer .container .footer-main-links .try-it-today h2 {
  font-size: 1.725em;
  font-weight: bold;
}
.footer .container .footer-main-links .try-it-today p {
  font-size: 1.125em;
  line-height: 30px;
  font-weight: 400;
  letter-spacing: -0.02em;
  color: #ffffff;
  font-size: 1em;
}
.footer .container .footer-main-links .try-it-today a {
  max-width: 200px;
  padding: 20px 30px;
}
.footer .container .footer-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 50px;
}
.footer .container .footer-info ul {
  display: flex;
  flex-direction: row;
  gap: 60px;
}
.footer .container .footer-info ul .change-language {
  display: flex;
  gap: 6px;
}
.footer .container .footer-info figure {
  display: flex;
  gap: 32px;
}
.footer .container .footer-info figure .bi:hover {
  color: rgb(255, 233.4, 167.8);
}
.footer .container .nav-link-footer:hover,
.footer .container .nav-link-footer:hover i {
  color: rgb(255, 233.4, 167.8);
}

@media screen and (min-width: 1152px) and (max-width: 1439px) {
  .footer .container .footer-main-links {
    gap: 45px;
  }
}
@media screen and (min-width: 320px) and (max-width: 1151px) {
  .footer {
    padding-top: 80px;
  }
  .footer .container .footer-main-links {
    grid-template-columns: 1fr;
  }
  .footer .container .footer-main-links .about p br {
    display: block;
  }
  .footer .container .footer-main-links .try-it-today {
    max-width: 201px;
  }
  .footer .container .footer-main-links .try-it-today a {
    padding: 20px 30px;
  }
  .footer .container .footer-info {
    flex-direction: column;
    padding-top: 0;
    border-top: none;
    gap: 20px;
  }
  .footer .container .footer-info ul {
    justify-content: space-between;
    gap: 0;
    border-bottom: 1px solid #2e4e73;
    padding-bottom: 20px;
  }
  .footer .container .footer-info ul .change-language {
    display: flex;
    gap: 6px;
  }
  .footer .container .footer-info figure {
    display: flex;
    gap: 32px;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .footer .container .footer-main-links {
    text-align: center;
  }
  .footer .container .footer-main-links figure {
    display: flex;
    justify-content: center;
  }
  .footer .container .footer-main-links .try-it-today {
    max-width: none;
    align-items: center;
  }
  .footer .container .footer-info ul {
    flex-direction: column;
    gap: 20px;
    text-align: center;
  }
  .footer .container .footer-info ul .change-language {
    justify-content: center;
  }
  .footer .container .footer-info figure {
    justify-content: center;
  }
}
.login-bg {
  padding-top: 32px;
  padding-bottom: 32px;
  background: #ffffff;
}
.login-bg .container {
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
  height: 100vh;
}
.login-bg .container .login {
  justify-self: center;
  align-self: center;
  display: grid;
  gap: 48px;
  max-width: 388px;
}
.login-bg .container .login .login-header {
  display: grid;
  gap: 28px;
}
.login-bg .container .login .login-header h1 {
  font-size: 36px;
}
.login-bg .container .login .login-form {
  display: grid;
  gap: 24px;
}
.login-bg .container .login .login-form .login-data {
  display: grid;
  gap: 8px;
}
.login-bg .container .login .login-form .login-data label {
  font-weight: 600;
}
.login-bg .container .login .login-form .login-data input {
  border: 1px solid #4f9cf9;
  border-radius: 12px;
  background: rgb(237.4, 245.1, 254.4);
  padding: 16px;
}
.login-bg .container .login .login-form .login-data input:focus {
  outline-color: #043873;
}
.login-bg .container .login .login-form .login-forgot-password {
  color: #043873;
  text-align: end;
  font-weight: 500;
  font-size: 16px;
}
.login-bg .container .login .login-form .login-submit {
  border-radius: 12px;
  padding: 16px 0;
}
.login-bg .container .login .login-option {
  display: grid;
  gap: 24px;
}
.login-bg .container .login .login-option .login-or {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  text-align: center;
}
.login-bg .container .login .login-option .login-social-media {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 25px;
  background: rgb(237.4, 245.1, 254.4);
  transition: background 0.3s ease-out;
  border-radius: 12px;
  padding: 12px 0 12px 92px;
}
.login-bg .container .login .login-option .login-social-media i {
  color: #212529;
  font-size: 30px;
}
.login-bg .container .login .login-option .login-social-media:hover {
  background: rgb(167, 205.5, 252);
  transition: background 0.3s ease-in;
}
.login-bg .container .login .login-register {
  text-align: center;
}
.login-bg .container .login .login-register a {
  color: #043873;
  text-align: end;
  font-weight: 500;
}
.login-bg .container .login .login-footer {
  text-align: center;
  text-transform: uppercase;
}
.login-bg .container .login .login-footer p {
  color: rgb(182.5297297297, 189.6, 196.6702702703);
  font-size: 16px;
}
.login-bg .container .login-image {
  position: relative;
}
.login-bg .container .login-image img {
  position: fixed;
  top: 0;
  right: 0;
  width: 50vw;
  height: 100vh;
  object-fit: cover;
}

@media screen and (max-width: 1151px) {
  .login-bg {
    padding: 16px 10px;
  }
  .login-bg .container {
    grid-template-columns: 1fr;
  }
  .login-bg .container .login-image {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
