.footer {
  padding-top: 140px;
  padding-bottom: 32px;
  position: relative;
  .container {
    grid-template-columns: 1fr;
    gap: 100px;
    .footer-main-links {
      display: grid;
      grid-template-columns: 240px 1fr 1fr 1fr 260px;
      gap: 100px;
      max-width: 1480px;
      .about {
        figure {
          margin-bottom: 15px;
          img {
            max-width: 191px;
            max-height: 34px;
          }
        }
        p {
          font-weight: 100;
          font-size: $font-1;
          color: #f7f7ee;
          br {
            display: none;
          }
        }
      }
      .product,
      .resources,
      .company {
        p {
          margin-bottom: 15px;
          &:nth-child(1) {
            font-weight: bold;
          }
        }
        ul {
          display: flex;
          flex-direction: column;
          gap: 15px;
        }
      }
      .try-it-today {
        display: flex;
        flex-direction: column;
        gap: 23px;
        h2 {
          font-size: 1.725em;
          font-weight: bold;
        }
        a {
          max-width: 200px;
          padding: 20px 30px;
        }
      }
    }
    .footer-info {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding-top: 50px;
      border-top: 1px solid #2e4e73;
      ul {
        display: flex;
        flex-direction: row;
        gap: 60px;
        .change-language {
          display: flex;
          gap: 6px;
        }
      }
      figure {
        display: flex;
        gap: 32px;
      }
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 1151px) {
  .footer {
    padding-top: 80px;
    .container {
      .footer-main-links {
        grid-template-columns: 1fr;
        .about p br {
          display: block;
        }
        .try-it-today {
          max-width: 201px;
          a {
            padding: 20px 30px;
          }
        }
      }
      .footer-info {
        flex-direction: column;
        padding-top: 0;
        border-top: none;
        gap: 20px;
        ul {
          justify-content: space-between;
          gap: 0;
          border-bottom: 1px solid #2e4e73;
          padding-bottom: 20px;
          .change-language {
            display: flex;
            gap: 6px;
          }
        }
        figure {
          display: flex;
          gap: 32px;
        }
      }
    }
  }
}

@include device(sm) {
  .footer {
    .container {
      .footer-main-links {
        text-align: center;
        figure {
          display: flex;
          justify-content: center;
        }
        .try-it-today {
          max-width: none;
          align-items: center;
        }
      }
      .footer-info {
        ul {
          flex-direction: column;
          gap: 20px;
          text-align: center;
          .change-language {
            justify-content: center;
          }
        }
        figure {
          justify-content: center;
        }
      }
    }
  }
}
