@import "./variables.scss";

@font-face {
  font-family: "Inter";
  src: url("/font_Inter/static/InterDisplay-Thin.woff2") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("/font_Inter/static/InterDisplay-Regular.woff2") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("/font_Inter/static/InterDisplay-Medium.woff2") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("/font_Inter/static/InterDisplay-SemiBold.woff2") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("/font_Inter/static/Inter-Bold.woff2") format("truetype");
  font-weight: 700;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Inter";
  font-weight: 400;
  box-sizing: border-box;
  color: $black-color;
}

h1 {
  @include typography-1();
}

p {
  @include typography-2();
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

.container {
  max-width: 1490px;
  margin: 0 auto;
  display: grid;
}

button {
  cursor: pointer;
}

a i {
  color: $white-color;
}

.button-primary {
  padding: 20px 40px;
  background: $primary-color-light;
  color: $white-color;
  border-radius: 8px;
  font-size: em(18);
  border: none;
  &:hover {
    background: #3169ad;
    transition: 0.5s ease-in;
  }
  i {
    color: $white-color;
    margin-left: 5px;
  }
}

@include device(sm) {
  .breakpoint-spacing {
    padding: 0 16px;
  }
}
@include device(md) {
  .breakpoint-spacing {
    padding: 0 20px;
  }
}
@include device(l) {
  .breakpoint-spacing {
    padding: 0 32px;
  }
}
@include device(xl) {
  .breakpoint-spacing {
    padding: 0 32px;
  }
}
@include device(xxl) {
  .breakpoint-spacing {
    padding: 0 220px;
  }
}
