@use "sass:color";
.container {
  padding: 16px 0;
  grid-template-columns: 1fr auto;
  align-items: center;
  .logo img {
    max-width: 191px;
    max-height: 34px;
    @include zoom(1.1);
  }
  .navbar {
    display: flex;
    flex-wrap: wrap;
    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: end;
      align-items: center;
      + ul {
        margin-left: 20px;
      }
      li + li {
        margin-left: 32px;
      }
      a {
        display: flex;
        align-items: center;
        color: $white-color;
        font-size: $font-2;
        font-weight: 500;
        i {
          padding-left: 10px;
        }
      }
      .button-primary {
        padding: 16px 24px;
      }
      .button-primary.nav-btn-try {
        &:hover {
          background: #3169ad;
          transition: 0.5s ease-in;
          .bi-arrow-right-short {
            visibility: hidden;
            transition: 0.1s ease-in;
          }
          .arrow-right-hover {
            display: block;
            transform: rotate(270deg);
            span {
              display: block;
              width: 1.2vw;
              height: 1.2vw;
              border-bottom: 4px solid white;
              border-right: 4px solid white;
              transform: rotate(45deg);
              margin: -10px;
              animation: animate 1.2s infinite;
              &:nth-child(2) {
                animation-delay: -0.1s;
              }
              &:nth-child(3) {
                animation-delay: -0.2s;
              }
              @keyframes animate {
                0% {
                  opacity: 0;
                  transform: rotate(45deg) translate(-20px, -20px);
                }
                50% {
                  opacity: 1;
                }
                100% {
                  opacity: 0;
                  transform: rotate(45deg) translate(20px, 20px);
                }
              }
            }
          }
        }
      }
    }
    .nav_button {
      margin-left: 60px;
      .nav-login {
        padding: 16px 40px;
        background: $yellow-color;
        color: $primary-color;
        border-radius: 8px;
        transition: 0.5s;
        &:hover {
          background-color: #c2a755;
          color: $white-color;
        }
      }
      li:nth-child(3) {
        margin-left: 20px;
        display: none;
        .menu-list {
          display: flex;
          justify-content: center;
          align-items: center;
          i {
            margin-top: 5px;
            padding: 0;
          }
        }
      }
    }
  }

  #navMobile {
    display: none;
    padding: 15px 0;
    ul {
      display: grid;
      flex-direction: column;
      gap: 30px;
      li .dropdown-btn {
        &:hover {
          color: color.scale($yellow-color, $lightness: 20%);
          .icon {
            color: color.scale($yellow-color, $lightness: 20%);
          }
        }
      }
      .icon {
        margin-right: 25px;
      }
    }
  }
}

@include device(xl) {
  .nav_button {
    li:nth-child(3) {
      display: none;
    }
  }
}

@include device(l) {
  .container .navbar {
    ul:nth-child(1) {
      display: none;
    }
    .nav_button li:nth-child(3) {
      display: block;
    }
  }
}

@include device(md) {
  .container .navbar {
    ul:nth-child(1) {
      display: none;
    }
    .nav_button {
      li:nth-child(1),
      li:nth-child(2) {
        display: none;
      }
      li:nth-child(3) {
        display: block;
      }
    }
  }
}

@include device(sm) {
  .container .navbar {
    ul:nth-child(1) {
      display: none;
    }
    .nav_button {
      margin-left: 0;
      li:nth-child(1),
      li:nth-child(2) {
        display: none;
      }
      li:nth-child(3) {
        display: block;
      }
    }
  }
}
