.hero {
  background-image: url("/img/detalhes1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 547px;
  background-position-y: bottom;
  .container {
    grid-template-columns: minmax(656px, 1fr) minmax(824px, 1fr);
    grid-template-rows: 549px;
    padding: 140px 0;
    .content {
      padding-right: 10px;
      h1 {
        margin-bottom: 24px;
        color: $white-color;
      }
      p {
        color: $white-color;
        margin-bottom: 60px;
      }
      button {
        i {
          margin-left: 5px;
        }
      }
    }
  }
}

@include device(xl) {
  .hero .container {
    grid-template-columns: minmax(361px, 1fr) minmax(685px, 1fr);
    grid-template-rows: 456px;
  }
}

@include device(l) {
  .hero .container {
    grid-template-columns: minmax(562px, 1fr) minmax(526px, 1fr);
    grid-template-rows: 361px;
    .content {
      padding-right: 90px;
    }
  }
}

@include device(md) {
  .hero .container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    .content {
      text-align: center;
      h1 {
        margin-bottom: 24px;
      }
      p {
        margin-bottom: 60px;
      }
      button {
        margin-bottom: 100px;
      }
    }
    figure img {
      padding: 0 88px;
    }
  }
}

@include device(sm) {
  .hero .container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    padding: 80px 0;
    .content button {
      margin-bottom: 100px;
    }
    figure img {
      padding: 0;
    }
  }
}
