@use "sass:color";
.login-bg {
  padding-top: 32px;
  padding-bottom: 32px;
  background: $white-color;

  .container {
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
    height: 100vh;
    .login {
      justify-self: center;
      align-self: center;
      display: grid;
      gap: 48px;
      max-width: 388px;

      .login-header {
        display: grid;
        gap: 28px;
        h1 {
          font-size: 36px;
        }
      }

      .login-form {
        display: grid;
        gap: 24px;
        .login-data {
          display: grid;
          gap: 8px;
          label {
            font-weight: 600;
          }
          input {
            border: 1px solid $primary-color-light;
            border-radius: 12px;
            background: color.scale($primary-color-light, $lightness: 90%);
            padding: 16px;
            &:focus {
              outline-color: $primary-color;
            }
          }
        }
        .login-forgot-password {
          color: $primary-color;
          text-align: end;
          font-weight: 500;
          font-size: 16px;
        }
        .login-submit {
          border-radius: 12px;
          padding: 16px 0;
        }
      }

      .login-option {
        display: grid;
        gap: 24px;
        .login-or {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          justify-content: center;
          align-items: center;
          text-align: center;
        }
        .login-social-media {
          display: flex;
          flex-direction: row;
          justify-content: start;
          align-items: center;
          gap: 25px;
          background: color.scale($primary-color-light, $lightness: 90%);
          transition: background 0.3s ease-out;
          border-radius: 12px;
          padding: 12px 0 12px 92px;
          i {
            color: $black-color;
            font-size: 30px;
          }
          &:hover {
            background: color.scale($primary-color-light, $lightness: 50%);
            transition: background 0.3s ease-in;
          }
        }
      }

      .login-register {
        text-align: center;
        a {
          color: $primary-color;
          text-align: end;
          font-weight: 500;
        }
      }

      .login-footer {
        text-align: center;
        text-transform: uppercase;
        p {
          color: color.scale($black-color, $lightness: 70%);
          font-size: 16px;
        }
      }
    }

    .login-image {
      position: relative;
      img {
        position: fixed;
        top: 0;
        right: 0;
        width: 50vw;
        height: 100vh;
        object-fit: cover;
      }
    }
  }
}

@media screen and (max-width: ($l-device - 1)) {
  .login-bg {
    padding: 16px 10px;
    .container {
      grid-template-columns: 1fr;
      .login-image {
        display: none;
      }
    }
  }
}
