.management {
  padding-top: 140px;
  padding-bottom: 140px;
  .container {
    display: grid;
    grid-template-columns: 1fr;
    .content-item {
      display: grid;
      grid-template-columns: 1fr 1fr;
      &:nth-child(1) {
        margin-bottom: 100px;
      }
      .content-project {
        grid-column: 1;
        padding: 68px 60px 68px 0;
      }
      figure {
        display: flex;
        justify-content: center;
      }

      &:nth-child(2) {
        .content-work {
          grid-column: 2;
          padding: 183.5px 0 183.5px 100px;
        }
        figure {
          grid-column: 1;
          grid-row: 1;
          display: flex;
          justify-content: center;
        }
      }

      h1 {
        margin-bottom: 24px;
        .span1 {
          @include text-element("Management", yellow);
        }
        .span2 {
          @include text-element("together", yellow);
        }
      }
      p {
        margin-bottom: 60px;
      }
      button i {
        color: $white-color;
      }
    }
  }
}

@include device(xl) {
  .management .container .content-item {
    .image-project {
      width: 719px;
      height: 448px;
    }
  }
}

@include device(l) {
  .management .container .content-item {
    .content-project {
      padding: 0 92px 24px 0;
    }
    figure {
      justify-self: end;
      align-self: center;
      padding: 27px 7px 27px 32px;
    }
    &:nth-child(2) {
      .content-work {
        padding: 88px 0 0 33px;
      }
      figure {
        padding: 0;
        justify-self: start;
        align-self: center;
        img {
          width: 528px;
          height: 491px;
        }
      }
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 1152px) {
  .management {
    padding-top: 100px;
    padding-bottom: 100px;
    .container {
      justify-items: center;
      .content-item {
        grid-template-columns: 1fr;
        text-align: center;
        .content-project {
          padding: 0;
          margin-bottom: 60px;
          br {
            display: none;
          }
        }
        figure img {
          padding: 0 83px;
        }
        &:nth-child(2) {
          .content-work {
            grid-column: auto;
            padding: 0;
            margin-bottom: 100px;
          }
          figure {
            grid-column: auto;
            grid-row: auto;
            img {
              padding: 0 137px;
            }
          }
        }
      }
    }
  }
}

@include device(sm) {
  .management {
    padding-top: 80px;
    padding-bottom: 80px;
    .container {
      .content-item {
        figure img {
          padding: 0;
        }
        &:nth-child(2) {
          figure {
            img {
              padding: 0;
            }
          }
        }
      }
    }
  }
}
