.management {
  padding-top: 140px;
  padding-bottom: 140px;
  background-image: url("/img/detalhes-project.png");
  background-repeat: no-repeat;
  .container {
    grid-template-columns: 1fr;
    gap: 100px;
    .content-item {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 60px;
      .content-project {
        display: grid;
        align-items: center;
        padding: 68px 0;
        gap: 60px;
        .content-project-text {
          display: grid;
          gap: 24px;
          h1 {
            .span1 {
              @include text-element("Management", yellow);
            }
          }
        }
        a {
          display: inline-block;
          max-width: 205px;
          max-height: 63px;
        }
      }

      &:nth-child(2) {
        grid-template-areas: "image work";
        .content-work {
          grid-area: work;
          margin-left: 100px;
          display: grid;
          align-items: center;
          padding: 183px 0;
          gap: 60px;
          .content-project-text {
            display: grid;
            gap: 24px;
            h1 {
              .span2 {
                @include text-element("together", yellow);
              }
            }
          }
          a {
            display: inline-block;
            max-width: 205px;
          }
        }
        figure {
          grid-area: image;
        }
      }
    }
  }
}

@include device(l) {
  .management {
    .container {
      .content-item {
        .content-project {
          padding: 0 92px 0 0;
        }

        figure img {
          padding: 46px 0;
        }

        &:nth-child(2) {
          .content-work {
            margin-left: 33px;
            padding: 88px 0;
          }
        }
      }
    }
  }
}

@media screen and (max-width: ($l-device - 1)) {
  .management {
    padding-top: 100px;
    padding-bottom: 100px;
    .container {
      .content-item {
        grid-template-columns: 1fr;
        justify-content: center;
        text-align: center;
        .content-project {
          display: flex;
          flex-direction: column;
          justify-content: center;
          br {
            display: none;
          }
        }

        figure {
          display: flex;
          justify-content: center;
          img {
            padding: 0;
          }
        }

        &:nth-child(2) {
          grid-template-areas: "work" "image";
          gap: 100px;
          .content-work {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-left: auto;
            padding: 0;
          }
        }
      }
    }
  }
}

@media screen and (max-width: ($md-device - 1)) {
  h1 {
    font-size: 42px !important;
  }
  br {
    display: block !important;
  }
}
