$xxl-device: 1920px;
$xl-device: 1440px;
$l-device: 1152px;
$md-device: 768px;
$sm-device: 320px;

@mixin device($size) {
  @if ($size == xxl) {
    @media screen and (min-width: $xxl-device) {
      @content;
    }
  }
  @if ($size == xl) {
    @media screen and (min-width: $xl-device) and (max-width: ($xxl-device - 1)) {
      @content;
    }
  }
  @if ($size == l) {
    @media screen and (min-width: $l-device) and (max-width: ($xl-device - 1)) {
      @content;
    }
  }
  @if ($size == md) {
    @media screen and (min-width: $md-device) and (max-width: ($l-device - 1)) {
      @content;
    }
  }
  @if ($size == sm) {
    @media screen and (min-width: $sm-device) and (max-width: ($md-device - 1)) {
      @content;
    }
  }
}

@mixin typography-1($color: $black-color) {
  font-size: em(72);
  line-height: normal;
  font-weight: 700;
  letter-spacing: -0.02em;
  color: $color;
  @include device(sm) {
    font-size: em(36);
  }
  @include device(md) {
    font-size: em(54);
  }
  @include device(l) {
    font-size: em(64);
  }
}

@mixin typography-2($color: $black-color) {
  font-size: em(18);
  line-height: normal;
  font-weight: 400;
  letter-spacing: -0.02em;
  color: $color;
}

@mixin text-element($content, $color-element, $color-text: $black-color) {
  &::after {
    content: "#{$content}";
    @if ($color-element == yellow) {
      background-image: url("/img/text-element.png");
    } @else {
      background-image: url("/img/text-element-blue.png");
    }
    background-repeat: no-repeat;
    background-size: 100% 30%;
    background-position: bottom;
    font-weight: 700;
    color: $color-text;
  }
}

@mixin zoom($scale: 1.01) {
  transition: transform 0.3s ease;
  &:hover {
    transform: scale($scale);
  }
}

@mixin box-shadow($shadow...) {
  box-shadow: $shadow;
}
