.percent-data {
  .container {
    padding: 140px 0;
    grid-template-columns: 1fr 1fr;
    .content {
      .text {
        display: grid;
        gap: 24px;
        margin-bottom: 60px;
        h1 {
          .span {
            @include text-element("your data", yellow);
          }
        }
      }
      .action {
        width: 100%;
      }
    }
    figure {
      display: flex;
      justify-content: center;
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 1151px) {
  .percent-data {
    .container {
      grid-template-columns: 1fr;
      gap: 100px;
      .content {
        grid-row: 2;
        .text {
          text-align: center;
        }
        .action {
          display: flex;
          justify-content: center;
        }
      }
      figure {
        grid-row: 1;
      }
    }
  }
}

@include device(sm) {
  .percent-data {
    .container {
      padding-top: 80px;
      padding-bottom: 80px;
    }
  }
}
