.plans {
  padding-top: 140px;
  padding-bottom: 140px;
  .container {
    grid-template-columns: 1fr;
    header {
      margin-bottom: 60px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      h1 {
        margin-bottom: 24px;
        text-align: center;
        .span {
          @include text-element("Your Plan", yellow);
        }
      }
      p {
        text-align: center;
      }
    }
    .swiper {
      width: 100%;
      .content-plans {
        display: flex;
        align-items: center;

        .plan-free {
          padding: 40px 44px;
        }
        .plan-organization {
          padding: 40px 44px;
        }
        .plan-free,
        .plan-organization,
        .plan-personal {
          border-radius: 10px;
          border: 1px solid $yellow-color;
          p {
            font-weight: 600;
            text-align: start;
            margin-bottom: 25px;
            &:nth-child(3) {
              font-size: 0.9em;
            }
          }
          .value {
            font-size: 2.25em;
            font-weight: 700;
            margin-bottom: 25px;
          }
          ul {
            margin-bottom: 25px;
            li {
              display: flex;
              align-items: center;
              margin-bottom: 28px;
              font-weight: 500;
              line-height: 1.5;
              &::before {
                content: url("/img/icons/Ckeck.png");
                position: relative;
                bottom: -2.5px;
                margin-right: 22px;
              }
            }
          }
          a {
            border-radius: 8px;
            border: 1px solid $yellow-color;
            padding: 16px 40px;
            &.link-plan-personal {
              border: none;
              color: $white-color;
            }
          }
        }
        .plan-personal {
          padding: 80px 44px;
          p,
          li {
            color: $white-color;
          }
          p:nth-child(2) {
            color: $yellow-color;
          }
          ul {
            margin-bottom: 35px;
            li::before {
              content: url("/img/icons/check-yellow.png");
              margin-right: 22px;
            }
          }
        }
      }
      .slider-pagination-plans {
        display: flex;
        justify-content: center;
        margin-top: 60px;
      }
    }
  }
}
