.container {
  padding: 16px 0;
  grid-template-columns: 1fr auto;
  align-items: center;
  .logo img {
    max-width: 191px;
    max-height: 34px;
  }
  .navbar {
    display: flex;
    flex-wrap: wrap;
    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: end;
      align-items: center;
      + ul {
        margin-left: 20px;
      }
      li + li {
        margin-left: 32px;
      }
      a {
        display: flex;
        align-items: center;
        color: $white-color;
        font-size: $font-2;
        font-weight: 500;
        i {
          padding-left: 10px;
        }
      }
      .button-primary {
        padding: 16px 24px;
      }
    }
    .nav_button {
      margin-left: 60px;
      .nav-login {
        padding: 16px 40px;
        background: $yellow-color;
        color: $primary-color;
        border-radius: 8px;
        transition: 0.5s;
        &:hover {
          background-color: #c2a755;
          color: $white-color;
        }
      }
      li:nth-child(3) {
        margin-left: 20px;
        .menu-list {
          display: flex;
          justify-content: center;
          align-items: center;
          i {
            margin-top: 5px;
            padding: 0;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1440px) {
  .nav_button {
    li:nth-child(3) {
      display: none;
    }
  }
}

@media screen and (min-width: 1152px) and (max-width: 1399px) {
  .navbar ul:nth-child(1) {
    display: none;
  }
}

@media screen and (max-width: 769px) {
  .navbar ul:nth-child(1),
  .nav_button li:nth-child(1),
  .nav_button li:nth-child(2) {
    display: none;
  }
}
